<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>

  <appSettings>
    <add key="ConnectionString" value="Server=localhost;Port=5432;Database=eMENU;User Id=postgres;
Password=nopassword;" />
    <add key="SiteName" value="http://localhost:62222" />
    <add key="mailHost" value="mail.fttl.ten.fujitsu.com" />
    <add key="mailPort" value="25" />
    <add key="mailAccount" value="ods@fttl.ten.fujitsu.com" />
    <add key="mailAccountPass" value="Ahljasd4" />
    <add key="serverName" value="10.164.214.211" />
    <add key="mailEncoding" value="Windows-874" />
    <add key="mailFrom" value="Donotreply@fttl.ten.fujitsu.com" />
    <add key="mailFromDisplay" value="ODS SYSTEM" />
    <add key="Phase" value="RUN" />
    <add key="PATH_ATTACH_FILE" value="AttachFiles" />
    <add key="SignWidth" value="120" />
    <add key="SignHeight" value="30" />
  </appSettings>
</configuration>